@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-image: url("https://images.cdn2.stockunlimited.net/preview1300/playing-cards-background_1608080.jpg");
  background-size: contain;
  font-family: "Oswald";
  font-weight: bold;
  color: black;
}
.their-card {
  background-image: linear-gradient(
    to right,
    black,
    rgb(146, 22, 38),
    white,
    rgb(146, 22, 38),
    black
  );
  border-radius: 20px;
  width: 400px;
  margin: auto;
  text-shadow: 0 0 3px #ff0000;
  font-size: 30px;
  box-shadow: 5px 10px 30px rgb(146, 22, 38);
}
h1,
footer {
  background-image: linear-gradient(
    to right,
    rgb(146, 22, 38),
    black,
    rgb(146, 22, 38),
    white,
    rgb(146, 22, 38),
    black,
    rgb(146, 22, 38)
  );
  text-shadow: 0 0 3px #ff0000;
}
.card {
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 5px 10px 30px rgb(146, 22, 38);
  margin: auto;
  height: 600px;
  width: 400px;
  position: relative;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
}
.topSuit {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 50px;
}
.suitIcon {
  position: absolute;
  top: 120px;
  left: 140px;
  font-size: 200px;
}
.bottomSuit {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 50px;
  transform: rotate(180deg);
}
